@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html, body, #root {
  @apply h-full w-full m-0 p-0;
}

body {
  @apply bg-slate-900 text-slate-100 font-sans antialiased;
}

.leaflet-container {
  @apply h-full w-full bg-slate-800;
}
